<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <newpatient></newpatient>
  <patientsaved></patientsaved>
  <patientupdated></patientupdated>
  <patientremoved></patientremoved>
  <modalpatientremoved></modalpatientremoved>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2>Lista de Pacientes</h2>
      <button ng-show="patients.length > 0" ng-click="createPatient()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Novo Patiente</button>
      <table class="table table-hover" ng-show="patients.length > 0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Convênio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="patient in patients | orderBy: 'nome'">
            <td>{{patient.nome}}</td>
            <td>{{patient.convenio}}</td>
            <td>
              <a href="#/patients/{{patient._id}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-ok-circle"></i></a>
              <a ng-click="editPatient(patient._id)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
              <button ng-click="openModalRemove(patient)" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModalPatient"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="well" ng-show="patients === undefined || patients.length < 1">
        <p>
          Você ainda não possui nenhum paciente cadastrado. Clique <a ng-click="createPatient()" href="">aqui</a> para cadastrar.
        </p>
      </div>
    </div>
  </div>
</div>
