<div class="container" ng-show="newPatient">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2>Adicionar Paciente</h2>
      <div class="well">
        <form novalidate name="form.patient" ng-submit="actionForm == 'Salvar' ? save(patient) : update(patient)">
          <div class="form-group">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" placeholder="Nome" ng-model="patient.nome" required>
          </div>
          <div class="form-group">
            <label for="inputConvenio">Convênio</label>
            <input type="text" class="form-control" id="inputConvenio" placeholder="Convênio" ng-model="patient.convenio" required>
          </div>
          <div class="form-group">
            <label for="inputEndereco">Endereço</label>
            <input type="text" class="form-control" id="inputEndereco" placeholder="Endereço" ng-model="patient.endereco" required>
          </div>
          <button type="submit" class="btn btn-default" ng-disabled="form.patient.$invalid">{{actionForm}}</button>
          <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
